<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=curves; Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="sql:table:routeLengths" value="Runlengths"/>
    <add key="sql:table:verticalCurvesSource" value="VerticalCurvesSource"/>
    <add key="sql:table:verticalCurves" value="VerticalCurves"/>
  </appSettings>
</configuration>